<!DOCTYPE html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet">
  <title>Dashboard</title>
</head>
<body>
    <form  action="/polls/new" method="get">
        <button type="submit">add poll</button>
    
    
    </form>
  <h1>Three Most Active Polls</h1>
  <ul>
    <% for (let poll of mostActivePolls) { %>
      <li ><a href="/polls/<%= poll._id %>"><%= poll.title %></a></li>
       <% for (let options of poll.options) { %>
        <ol> <%=   options.text %> --> <%= options.votes  %>  </ol>  
      <% } %>  
      <h6> <%= poll.createdAt %> </h6>
    <% } %>
  </ul>

  <h1>All Polls in Reverse Chronological Order</h1>
  <ul>
    <% for (let poll of allPolls) { %>
      <li ><a href="/polls/<%= poll._id %>"><%= poll.title %></a></li>
      <% for (let options of poll.options) { %>
        <ol> <%=   options.text %> --> <%= options.votes  %>  </ol> 
      <% } %> 
    <% } %>
  </ul>

</body>
</html>