<!DOCTYPE html>
<html>

<head>
  <link href="/css/style.css" rel="stylesheet">
  <title>Dashboard</title>
</head>

<body>
  <script src="../views/formatTime.js"></script>
  <h1>Voting Dojo</h1>
  <div class="loginOrNewpoll">

    <% if (login) { %>
      <form action="/polls/new" method="get" class="login">
        <button type="submit"> add poll</button>
      </form>

      <% } else { %>
        <form action="/users" method="get">
          <button type="submit"> log in </button>
        </form>
        <% } %>

  </div>
  <div class="form">
    <div class="active">
      <h2>Top 3 Polls</h2>
      <ul>
        <% for (let poll of mostActivePolls) { %>

          <h5 class="poll"><a href="/polls/<%= poll._id %>">
              <%= poll.title %> ?
            </a>
            <% for (let options of poll.options) { %>
              <ol>
                <%= options.text %> :<%= options.votes %>
              </ol>
              <% } %>
                <div class="time">
                  <%= new Date(poll.createdAt).toLocaleString() %>
                </div>
                <% } %>
          </h5>
      </ul>
    </div>
    <div class="all">
      <h2>Recent Polls</h2>
      <ul>
        <% for (let poll of allPolls) { %>
          <h5 class="poll"><a href="/polls/<%= poll._id %>">
              <%= poll.title %>
            </a>
            <% for (let options of poll.options) { %>
              <ol>
                <%= options.text %> : <%= options.votes %>
              </ol>
              <% } %>
                <div class="time">
                  <%=  new Date(poll.createdAt).toLocaleString() %>
                </div>
                <% } %>
          </h5>
      </ul>
    </div>
  </div>
  

</body>

</html>